* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body {
    background-color: #1f2833	;
    color: #ffffff;
    overflow-x: hidden;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
::selection {
    background-color: 	#1f2833;
    color: 	#abb1cf;
}
/* Hide scrollbar */
body::-webkit-scrollbar {
    display: none;
}
body {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
/* Navigation */
.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 50px;
    max-width: 1400px;
    margin: auto;
    width: 100%;
}
.menu-icon {
    cursor: pointer;
    float: right;
    padding: 20px 3px;
    z-index: 107;
}
.menu-icon .nav-icon {
    background-color: #66FCF1;
    display: block;
    height: 2px;
    width: 23px;
    position: relative;
    transition: background 0.2s ease-out;
}
.menu-icon .nav-icon::before,
.menu-icon .nav-icon::after {
    background-color: #66FCF1;
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    transition: all 0.2s ease-out;
}
.menu-icon .nav-icon::before {
    top: 7px;
}
.menu-icon .nav-icon::after {
    bottom: 7px;
}
.navigation .menu-icon .nav-icon::before{
    top: 8px;
}
.navigation .menu-icon .nav-icon::after{
    top: -8px;
}
.navigation .menu-btn:checked ~ .menu-icon .nav-icon{
    background-color: transparent;
}
.navigation .menu-btn:checked ~ .menu-icon .nav-icon::before{
    transform: rotate(-45deg);
    top: 0px;
}
.navigation .menu-btn:checked ~ .menu-icon .nav-icon::after{
    transform: rotate(45deg);
    top: 0px;
}
.menu-btn{
    display: none;
}

/*MENU*/
.menu{
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: #111111f1;
    z-index: 106;
    display: none;
    justify-content: center;
    align-items: center;
    animation: fade 0.3s;
}
.menu li a{
    color: #ffffff;
    margin: 0px 29px;
    font-size: 1.7rem;
    font-family: Monoton;
    transition: all ease 0.3s;
}
.menu li a:hover{
    font-size: 2.3rem;
    color: 	#66FCF1;
    transition: all ease 0.3s;
}

.navigation .menu-btn:checked ~ .menu{
    display: flex;
}

@keyframes fade{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.logo{
    color: 			#66FCF1;
    text-transform: uppercase;
    font-size: 2.5rem;
    font-weight: 400;
    margin: 0px auto 0px 40px;
    display: flex;
    align-items: center;
    font-family: Monoton;
    letter-spacing: 1px;
}
.search-box{
    background-color: #d1d1d111;
    padding: 3px 20px;
    border-radius: 20px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
}
.search-box input{
    background-color: transparent;
    border: none;
    outline: none;
    color: #66FCF1;
}
.search-box input::placeholder{
    color: #66FCF1;
}
.search-box button{
    background-color: transparent;
    color: #66FCF1;
    border: none;
    outline: none;
    cursor: pointer;
}
/*slider*/
#main-slider{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    max-width: 1170px;
    width: 100%;
}
.main-slider-box{
    width: 100%;
    height: 450px;
    box-shadow: 2px 2px 10px rgb(0, 0, 0, 0, 1);
    border: 1px solid #66FCF1;
    position: relative;
    overflow: hidden;
    user-select: none;
}
.main-slider-img{
    width: 100%;
    height: 100%;
}
.main-slider-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.main-slider-text{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: linear-gradient(360eg, #161616b9 35%, rgba(73,73,73,0.23) 64%);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 25px
}

.main-slider-text .music-name{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.main-slider-text .music-name span{
    font-size: 0.9rem;
    letter-spacing: 1px;
    font-weight: 600;
    color: white;
    /*rgba(240,240,240,0.82);*/
}

.main-slider-text .music-name strong,
.main-slider-text .music-name a{
    font-size: 0.8rem;
    font-weight: 500;
    line-height: 20px;
    margin-top: 0px;
    color: blanchedalmond;
    letter-spacing: 0.4px;
}

.swiper-button-next,
.swiper-button-prev{
    position: static !important;
    transform: translate(0,0);
    margin: 10px 0px 0px 20px !important;
}
.slider-btns{
    display: flex;
    justify-content: flex-end;
    max-width: 1170px;
    width: 100%;
    margin: 10px auto 0px auto;
}
.swiper-button-next::after,
.swiper-button-prev::after{
    font-size: 25px !important;
    font-weight: 800;
    color: #66FCF1;
}

/*Flip-card
.flip{
    object-fit: cover;
    align-items: center;
    border-radius: 2rem;
    background-color: transparent;
    width: 450px;
    height: 450px;
    perspective: 1000px;
}
.flip-inner{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d
}
.flip:hover .flip-inner{
    justify-content: space-between;
    transform: rotateY(180deg);
}
.flip-front,
.flip-back{
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 8px;
}
.flip-front{
    background-color: #7e7c6d;
    color: black;
}
.flip-back{
    background-color: #7e7c6d;
    color: wheat;
    transform: rotateY(180deg);
    font-family: "Arial";
    font-size: 20px;
    padding-top: 5rem;
}*/

 /*--Latest-album*/
 #latest-al{
    max-width: 1700%;
    margin: 10px auto;
    width: 100%;
  }
  .latest-heading h1{
    color: #66FCF1;
    font-size: 1.3rem;
    font-weight: 500;
  }
    .flex{
      display: flex;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      gap: 15px;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
    }
    .albums{
      padding: 15px;
    }
    .albums a{
      position: relative;
      text-decoration: none;
      color: #66FCF1;
    }
    .albums a .overlay{
      position: absolute;
      inset: 0;
      display: grid;
      place-items: center;
      background: #000;
      border: 1.1px solid 66FCF1;
      padding: 2px;
      text-align: center;
      transform-origin: bottom;
      transform: scaleY(0);
      transition: all ease 0.3s;
    }
    .albums a:hover .overlay{
      transform: scaleY(1);
    }
    .albums a img{
      border: 1.1px solid #66FCF1;
      height: 180px;
      width: 180px;
    }
    #h1#title{
      font-size: 8rem;
      color: #66FCF1;
      margin: 50px 0;
      text-align: center;
      text-transform: uppercase;
      user-select: none;
    }
    h1#title span{
      display: block;
      font-size: 1rem;
    }

    /*--Latest-Music*/
  #latest-mu{
    max-width: 1700%;
    margin: 25px auto;
    width: 100%;
  }
  .latest-heading h1{
    color: #66FCF1;
    font-size: 1.3rem;
    font-weight: 500;
    }
    .youtube-vids{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        place-items: center;
        padding: 25px;
        transition: all 0.1s ease-out;
      }


   /*FOOTER*/
footer{
    background-color: #0e0e0ec2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;
}
footer .copyright{
    color: #999696;
    font-size: 0.9rem;
}
footer .logo{
    margin: 0px;
    font-size: 2rem;
    font-weight: 400;
}
/*fix-menue-btn*/
.fix-icon .menu-icon{
    position: fixed;
    left: 40px;
    top: 40px;
    background-color: #1c1f25;
    border-radius: 50%;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*PROGRESS-BAR*/
#progress{
    height: 20px;
    width: 20px;
    border-radius: 25%;
    position: fixed;
    bottom: 10px;
    right: 10px;
    box-shadow: 0px 0px 6px rgba(0,0,0,0.2);
    display: grid;
    place-items: center;
    z-index: 80;
}
#progress-value{
    display: block;
    height: calc(80% - 6px);
    width: calc(80% - 6px);
    background-color: #1c1f25;
    border: 20%;
    display: grid;
    place-items: center;
    font-weight: 400;
    font-size: 0px;
}
/*home-page-responsive*/

@media (max-width: 1600px) {
    #main-slider,
    #latest-al,
    #latest-mu,
    .slider-btns{
        width: 90%;
    }
    .menu li a{
        margin: 0px;
        font-size: 1.6rem;
    }
    .menu{
        flex-direction: column;
    }
    .flex{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        justify-content: center;
        align-items: center;
    }
    .youtube-vids{
        grid-template-columns: 1fr 1fr 1fr;
        width: 320;
        height: 215;
        transition: all 0.1s ease-out;
    }
}


@media (max-width: 1250px) {
    #main-slider,
    #latest-al,
    #latest-mu,
    .slider-btns{
        width: 90%;
    }
    .menu li a{
        margin: 0px;
        font-size: 1.6rem;
    }
    .menu{
        flex-direction: column;
    }
}


@media (max-width: 900px) {
    .flex{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        justify-content: center;
        align-items: center;
    }
    .youtube-vids{
        grid-template-columns: 1fr 1fr 1fr;
        width: 320;
        height: 215;
        transition: all 0.1s ease-out;
    }
}


@media(max-width:912px){
    .navigation{
        padding: 20px 10px;
        width: 90%;
    }
    .logo{
        font-size: 2rem;
    }
    footer .logo{
        font-size: 1.3rem;
    }
    .flex{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        justify-content: center;
        align-items: center;
    }
    .youtube-vids{
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 290;
        height: 195;
        justify-content: center;
        align-items: center;
        transition: all 0.1s ease-out;
    }
    footer{
        padding: 10px 20px;
        text-align: center;
    }
}


@media(max-width:824px){
    .navigation{
        padding: 20px 10px;
        width: 90%;
    }
    .logo{
        font-size: 2rem;
    }
    footer .logo{
        font-size: 1.3rem;
    }
    .flex{
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: center;
        align-items: center;
    }
    .youtube-vids{
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 200;
        height: 185;
        justify-content: center;
        align-items: center;
        transition: all 0.1s ease-out;
    }
    footer{
        padding: 10px 20px;
        text-align: center;
    }
}


@media (max-width:600px) {
    .navigation{
        display: grid;
        grid-template-columns: 60px 1fr;
        grid-template-rows: 1fr 1fr;
        padding: 20px 0px;
    }
    .logo{
        margin: 0px;
    }
    .search-box{
        grid-column-start: 1;
        grid-column-end: 3;
        width: 95%;
        border-radius: 0px;
    }
    .menu li a:hover{
        font-size: 1.8rem;
    }
    .flex{
        grid-template-columns: 1fr 1fr;
        grid-gap: 15px;
        justify-content: center;
        align-items: center;
    }
    .youtube-vids{
        grid-template-columns:  1fr;
        width: 290;
        height: 195;
        justify-content: center;
        align-items: center;
        transition: all 0.1s ease-out;
    }
    footer .copyright{
        font-size: 0.6rem;
    }
    .fix-icon .menu-icon{
        left: 10px;
        top: 0px;
        border-radius: 4px;
    }
}



@media (max-width:200px) {
    .navigation{
        display: grid;
        grid-template-columns: 60px 1fr;
        grid-template-rows: 1fr 1fr;
        padding: 20px 0px;
    }
    .logo{
        margin: 0px;
    }
    .search-box{
        grid-column-start: 1;
        grid-column-end: 3;
        width: 95%;
        border-radius: 0px;
    }
    .menu li a:hover{
        font-size: 1.8rem;
    }
    .flex{
        grid-template-columns: 1fr;
        grid-gap: 15px;
        justify-content: center;
        align-items: center;
    }
    .youtube-vids{
        grid-template-columns:  1fr;
        width: 290;
        height: 195;
        justify-content: center;
        align-items: center;
        transition: all 0.1s ease-out;
    }
    footer .copyright{
        font-size: 0.6rem;
    }
    .fix-icon .menu-icon{
        left: 10px;
        top: 0px;
        border-radius: 4px;
    }
}



/*
@media(max-width:450px){
    .flex{
        grid-template-columns:  1fr 1fr 1fr ;
        justify-content: center;
        align-items: center;
    }
    .albums{
        height: 500px;
        justify-content: center;
        align-items: center;
    }
}
    */